.mat-card {
    text-align: center;
    -webkit-box-shadow: 0px 0px 7px 5px rgba(0,0,0,0.22); 
    box-shadow: 0px 0px 7px 5px rgba(0,0,0,0.22);
}

.mat-form-field {
    width: 100%;
}

.backButton {
    background-color: #6444B8;
    color: #FFFFFF;
}